li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 4vh;
  }
  a:hover{
    background-color: rgb(207, 18, 18);
  }
  a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 2vw;
    font-family: monospace;
  }
  ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  body{
    margin: 0;
  }
  nav{
    width: 100vw;
    height: 8.8vh;
    background-color: black
  }
h1 {
    color: darkblue;
}
h2 {
    color: darkblue;
}
p {
    color: rgb(255, 8, 0);
}
h3 {
    color: darkblue;
}
body {
    background-color: rgb(223, 222, 222); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  /*https://itnext.io/how-to-create-a-responsive-navigation-bar-with-html-css-and-jquery-step-by-step-tutorial-9c780b58479f 
reference i used for my nav bar